<div class="container-fluid">
    <div class="row">
        <h1>Create Sensor</h1>
        <p class="subtitle">Enter Sensor Details:</p><br/>
        <form [formGroup]="createSensorForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div>
                    <label for="name">Name:</label>
                    <input id="name" type="text" class="form-roundred inputForm" formControlName="name"><span class="required">*</span>
                    <div *ngIf="submitted && formControls['name'].errors?.['required']">Name is required.</div>
                </div>
                <br/>

                <div>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Private</label>
                        <input id="isPrivate" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="isPrivate">
                      </div>
                </div>
                <br/>

                <div>
                    <label for="description">Description:</label>
                    <input id="description" type="text" class="form-rounded inputForm" formControlName="description">
                    
                </div>
                <br/>

                <div>
                    <label for="category">Category:</label>
                    <select id="category" class="form-rounded inputForm" formControlName="category" (change)="changeCategory($event)">
                        <option value="Temperature">Temperature</option>
                        <option value="Humidity">Humidity</option>
                        <option value="Sound">Sound</option>
                        <option value="Visibility">Visibility</option>
                        <option value="Polution">Polution</option>
                    </select>  
                        <span class="required">*</span>
                    <div *ngIf="submitted && formControls['category'].errors?.['required']">Category is required.</div>
                </div>
                <br/>

                <div>
                    <label for="color">Color:</label>
                        <input id="color1" class="form-check-input" type="radio" formControlName="color" value="Blue" style="background-color: blue; color: blue; width:20px; height: 20px;">
                        <input id="color2" class="form-check-input" type="radio" formControlName="color" value="Red" style="background-color: red; color:red; width:20px; height: 20px;">
                        <input id="color3" class="form-check-input" type="radio" formControlName="color" value="Green" style="background-color: green; color: green; width:20px; height: 20px;">
                        <input id="color4" class="form-check-input" type="radio" formControlName="color" value="Yellow" style="background-color: yellow; color: yellow; width:20px; height: 20px;">
                </div>
                <br/> 
                <div>
                    <button type="submit">Enter</button>
                </div>
            </div>
            <div *ngIf="errorFlag" class="errorMessage">
                {{errorMessage}}
            </div>
        </form>
    </div>
</div>

