.container-fluid {
    height: 415px;
    padding: 1px;
    margin-left: 58px;
}

.search {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

.form-control {
    display: inline;
    width: 300px;
}

.searchButton {
    display: inline;
    background-color: #0902D4;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 4px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    height: 35px; 
    margin-left:20px;
}

.btn-primary {
    background-color: #0902D4;
}

.errorMessage {
    color: red;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.createUserButton {
    display: inline;
    background-color: #0902D4;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 4px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
    height: 35px; 
    margin-left:20px;
    float: right;
}

.canNotClick {
    cursor: not-allowed;
    opacity: 0.5;
}

.btn-primary {
    min-width: 150px;
}