<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 leftside">
            <img src="assets/pictures/loginImage.jpg" alt="loginImage" class="loginImage">
        </div>
        <div class="col-md-6 rightside">
            <div class="passwordrecovery-form">
                <img src="/assets/pictures/Uno.png" alt="UnoImage" class="unoImage">
                <p class="title">Welcome!</p>
                <p class="subtitle">Enter your email to get a new password</p>
                <p class="subtitle">Check your email to login with the new password</p>
                <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-rounded" formControlName="email">
                        <div *ngIf="passwordRecoveryForm.controls.email.invalid">Email is invalid</div>
                        <div *ngIf="passwordRecoveryForm.controls.email.errors?.['required']">Email is required.</div>
                        <button type="submit">Enter</button>
                        <div *ngIf="errorFlag" class="errorMessage">
                            {{errorMessage}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
