<p class="subtitle">Enter your email to get a new password</p><br />
<p class="subtitle">Check your email to login with the new password</p><br />
<form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" class="form-rounded" formControlName="email">
        <div *ngIf="passwordRecoveryForm.controls.email.invalid">Email is invalid</div>
        <div *ngIf="passwordRecoveryForm.controls.email.errors?.['required']">Email is required.</div>
        <p class="forgot"><a [routerLink]="'../login'">back to login</a></p>
        <button type="submit">Enter</button>
        <div *ngIf="errorFlag" class="errorMessage">
            {{errorMessage}}
        </div>
    </div>
</form>