<div class="sideBar">
<img src="assets/pictures/side-bar/uno-logo.svg" alt="uno-logo" class="uno-logo">
<img src="assets/pictures/side-bar/home.svg" alt="home" class="home">
<img src="assets/pictures/side-bar/dashboards.svg" alt="dashboards" class="dashboards">
<img src="assets/pictures/side-bar/sensors.svg" alt="sensors" class="sensors">
<img src="assets/pictures/side-bar/users.svg" alt="users" class="users">
<img src="assets/pictures/side-bar/settings.svg" alt="settings" class="settings">
<img src="assets/pictures/side-bar/logout.svg" alt="logout" class="logout">
</div>
