.dashboards-container {
    height: 415px;
    padding: 1px;
    background-color: #E9ECF1;
    margin: 0px 0px 0px 58px;
    border: #000000;
    border-style: solid;
}

.dashboards-text {
    margin-top: 100px;
    margin-left: 50px;  
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    display: block;
    transition: all 0.3s;
}
